@import url(//fonts.googleapis.com/css?family=Montserrat|Esteban);

body {
 font-family:  'Montserrat', sans-serif; !important
}

blockquote {
 margin-left: 20px !important;
 font-family:  'Esteban', serif !important;
 font-style: italic;
 border-color: transparent !important;
 border-style: none !important;
}

.view {
	
	width: 802px;
	height: 402px;
	border:0;
	overflow: hidden;
	
	
}
/*blockquote:before {
    display: block;
    height: 0;
    content: "“";   
    margin-left: -0.95em;
    font: italic 400%/1 Esteban, serif;
    color: #999;
}*/

wijziging:before {
    
content: "Wijziging(en) t.o.v. vorige versie <br /><br />:";

}

wijziging {
    
    border-color: #eee;
    background-color: #ccc;
    font-style: italic;  
    font-family:  'Esteban', serif !important;
}

img {
  max-width: 100%;
}

table, td, th {
  cell-padding: 0px !important;
  cell-spacing: 0px !important;
  border-color: #eee !important; 
  /*border-bottom: 1px solid !important;*/
}



th:first-child {
	font-style: italic;
	font-size: 0.85em!important;
}


thead {
  border-color: #eee;
  background-color: #ccc;
  font-size: 0.85em !important;
}

table {
	font-style: normal;
}

td {
	vertical-align: top;
	font-size: 0.9em !important;
	font-style: normal;
	border-bottom:1pt solid black;
}

td:first-child {
	font-style: italic;
	font-size: 0.85em!important;
}


icon1A {

width: 64px;
height: 64px;
background-image: url("media/51e255cf9ca735d13ce814cb4190537d.png");
title: "Software voldoet";
}
/* ![Approved Window icon](media/51e255cf9ca735d13ce814cb4190537d.png)

Software voldoet

\<icon1B\>

![Code Window icon](media/4c12d0aee36ab140454736d3cbca9f4c.png)

Software aanpassen op nieuwe classificaties

\<icon2A\>

![Data Search icon](media/3e7a602ebe38c76776a8a0eba4e83990.png)

Centraal signaleren

\<icon2B\>

![Tripod 2 icon](media/d90734a4417d5c260354cbcc065fe438.png)

Data inwinnen via reguliere bijhouding

\<icon3A\>

![Edit Map icon](media/d67b761a11e02641c4b79438ac558c58.png)

Data decentraal aanpassen door bronhouders

\<icon3B\>

![Data Refresh icon](media/bcc6db15c559764f2caf8f68d454efe0.png)

Data central converteren

\<icon4A\>

![Forward icon](media/9cd5ddd8e03eb4a08f10fa67032369fc.png)

Data aanpassen met terugwerkende kracht

\<icon4B\>

![Forward icon](media/9cd5ddd8e03eb4a08f10fa67032369fc.png)

Data aanpassen na signalering of terugmelding

\<icon5A\>

![Timer icon](media/35627a5d92e005a53a25950ea2b9207e.png)

![Euro Sign 2 icon](media/88000ee2a4a6f611856e2315cc841b76.png)

Tijd/Geld

\<icon6A\>

![Sand watch 2 icon](media/597a9db0358ca2af752b262a0bb08569.png)

Doorlooptijd


 */